<%- include ("./partials/header") %>


<body>


    <section class="box">

        <div class="form">
            <h2>Fill Your Address</h2>
            <form action="/cart/checkout" method="POST">
                <input type="text" name="address" class="input-field" pattern=".{1,}" required title="1 character minimum" placeholder="Colony, Street, Road" />
                <input type="text" name="city" class="input-field" pattern=".{1,}" required title="1 character minimum" placeholder="City" />
                <input type="number" name="pincode" class="input-field" pattern=".{6,6}" required title="6 Digits" placeholder="PINCODE" />
                <input type="text" name="state" class="input-field" pattern=".{1,}" required title="1 character minimum" placeholder="State">
                <input type="submit" class="btn2" value="SUBMIT">
            </form>
        </div>
    </section>
    <%- include ("./partials/footer") %>