<%- include ("./partials/header") %>

    <div style="min-height: 90vh; display: flex; justify-content: center; align-items: center;flex-direction: column; font-size: larger;color: #d2ff00;">
        <p ">
            Your Order has been recieved. we will process it shortly
        </p>
        <p>Expore Our <a href=" /home " style=" text-decoration: none; color: #00ff00; ">Website</a></p>
    </div>


    <%- include ("./partials/footer") %>