<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopSee -Login </title>
    <link rel="stylesheet" media="screen and (min-width:800px)" href="assets/style.css">
    <link rel="stylesheet" media="screen and (max-width:799px)" href="assets/style3.css">
</head>

<body>
    <section class="box">
        <div class="design">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="form">
            <h4 style="color: red;">Email Registered Already <br> Proceed to login</h4>
            <br>
            <h2>User Login</h2>
            <form action="/login" method="POST">
                <input type="email" name="useremail" class="input-field" placeholder="Email id" />
                <input type="password" name="password" class="input-field" placeholder="Password" />
                <input type="submit" class="btn" value="LOGIN">
            </form>
            <br>
            <h4> <a href="#"> Forgot Password</a> </h4>
        </div>
    </section>
</body>

</html>